<div class="container">
  <div class="row">
    <div class="col-md-5 offset-md-3">
      <div class="card card-body bg-dark p-4 text-white rounded-0">
        <form action="/edit/{{task._id}}" method="POST">
          <h2>Update a Task</h2>
          <div class="mb-3">
            <input
              type="text"
              name="title"
              id=""
              placeholder="title"
              value="{{task.title}}"
              class="form-control rounded-0 bg-dark text-white"
            />
          </div>
          <div class="mb-3">
            <textarea
              name="description"
              rows="3"
              class="form-control rounded-0 bg-dark text-white"
              placeholder="add a description"
            >{{task.description}}</textarea>
          </div>

          <button class="btn btn-primary">Update</button>
        </form>
      </div>

    </div>
  </div>
</div>